@font-face {
    font-family: goodUnicorn;
    src: url(GoodUnicornRegular-Rxev.ttf);
}

h1, h2 {
    font-family: goodUnicorn;
    color: black;
    text-align: center;
}
/* Make background a light purple with misty and whispy clouds throughout*/

/* Make margins for main div take up about 1/3 of the full width of the page */

/* Keep the background in a neutral position while the main div is scrolled */

/* Put a large pink crystal ball on either side of the main div */

/* Make font sans-serif? I'd like it to be cute and soft */

/* Add a pic of a notepad for the background of the drawing div */

/* Add animation of pencil skip over answers and crossing them out */

/* Make sure to put a line through the answers that get "crossed out" by the pencil */


