@font-face {
    font-family: "goodUnicorn";
    src: url(GoodUnicornRegular-Rxev.ttf);
}

body {
    background-image: url("pics/crystalball.png"), url("pics/purpleclouds.jpg");
    background-color: rgb(173, 112, 173);
    background-size: 750px, 1700px;
    position: relative;
}

h1, h2, .form-label {
    font-family: goodUnicorn;
    color: black;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 30px;
}

p {
    margin-left: 70px;
    margin-right: 70px;
}

.container {
    display: flex;
    min-height: 93vh;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(208, 163, 208);
    margin: auto;
    padding: 1em;
    width: 650px;
    height: 100%;
    border: 0.5px solid pink;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(94, 49, 56);
}

.homepage-images, .homepage-images-second-row {
    display: inline-block;
}

/* for changeStep() */
.step {
    display: none;
}

.step.active {
    display: block;
}

.question-num {
    text-align: left;
    padding-left: 65px;
}

input { 
    width: 300px;
}

footer {
    text-align: center;
}

#banner {
    position: relative;
    bottom: 20px;
    max-width: 80%;
    max-height: 30vh;
    border-radius: 5px 50px 5px 50px;
    box-shadow: 0px 0px 10px rgb(93, 86, 100);
}

#mansion, #apt, #swamp, #house {
    max-width: 25%;
    padding: 1em;
}

#swamp {
    position: relative;
    bottom: 40px;
    padding: 1em;
}

#mash {
    text-align: left;
}

.mash-items {
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

/* buttons */
button {
    transition-duration: 0.4s;
    width: 25%;
    padding: 5px;
    border-radius: 12px;
    font-family: goodUnicorn;
    font-size: 20px;
}
  
button:hover {
    background-color:blue;
    color: white;
}

.start-mash {
    padding: 12px 28px;
    font-size: 25px;
    width: 50%;
}

.submit-btn, .play-btn {
    width: 15%;
}

.submit-btn:hover, .play-btn:hover {
    background-color: #4CAF50;
    color: white;
}

.home-btn {
    float: left;
}

.fortune-btn, .game-btn {
    float: right;
}

.game-btn {
    position: relative;
    top: 52px;
}

/* disable game-btn until submit-btn is clicked */

/* Make font sans-serif? I'd like it to be cute and soft */

/* center minigame div */

/* Add animation of pencil skip over answers and crossing them out */

/* put a line through the answers that get "crossed out" by the pencil */