@font-face {
    font-family: "goodUnicorn";
    src: url(GoodUnicornRegular-Rxev.ttf);
}

h1, h2 {
    font-family: goodUnicorn;
    color: black;
    text-align: center;
}

h1 {
    font-size: 100px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 0;
}

body {
    /* Make background a light purple with misty and whispy clouds throughout*/
    /* Put a large pink crystal ball on either side of the main div */
    background-image: url("pics/crystalball.png"), url("pics/purpleclouds.jpg");
    background-color: rgb(173, 112, 173);
    background-size: 750px, 1700px;
    /* Keep the background in a neutral position while the main div is scrolled */
    position: relative;
}

main {
    background-color: rgb(208, 163, 208);
    text-align: center;
    margin: auto;
    padding: 1em;
    width: 650px;
    height: 100%;
    border: 0.5px solid pink;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(94, 49, 56);
}

.homepage-images, .homepage-images-second-row {
    display: inline-block;
}

#mansion {
    max-width: 25%;
    padding: 1em;
}

#apt {
    max-width: 25%;
    padding: 1em;
}

#sewer {
    max-width: 25%;
    padding: 1em;
}

#house {
    max-width: 25%;
    padding: 1em;
}

button {
    transition-duration: 0.4s;
    width: 50%;
    padding: 12px 28px;
    border-radius: 12px;
    font-family: goodUnicorn;
    font-size: 25px;
}
  
button:hover {
    background-color: #4CAF50;
    color: white;
}

#home-btn {
    width: 25%;
    font-family: goodUnicorn;
    font-size: 20px;
    padding: 5px;
}

#continue-btn {
    width: 25%;
    font-family: goodUnicorn;
    font-size: 20px;
    padding: 5px;
}

#play-btn {
    width: 15%;
    font-family: goodUnicorn;
    font-size: 20px;
    padding: 5px;
}

#clear-btn {
    width: 50%;
    
}
/* Make font sans-serif? I'd like it to be cute and soft */

/* center minigame div */

/* Add animation of pencil skip over answers and crossing them out */

/* Make sure to put a line through the answers that get "crossed out" by the pencil */


